$primary-color: brown;

.container {
  display: flex;
  justify-content: flex-end;
  order: 1;
  height: 3rem;
  border-bottom: 0.3rem solid $primary-color;
}

.link {
  order: 1;
  font-size: 1rem;
  width: 6rem;
  color: black;
  text-align: center;
  line-height: 3rem;
}

.link:link {
  text-decoration: none;
}

.link:hover {
  background-color: $primary-color;
}

.link:active {
  color: white;
}

.activeLink {
  background-color: $primary-color;
  color: white;
}

.activeLink:hover {
  background-color: $primary-color;
}